body{
  margin: 0;
}
.heading {
  background-image: url(./../image/beachshowcase.jpg);  
  background-size: cover;
  background-position: center;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  padding-top: 35vh;
}
.headin-title{
  box-sizing: border-box;
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.5em;
  color: #926239;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.heading-subtitle{
  box-sizing: border-box;
  margin-top: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #926239;
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button{
  font-size: 18px;
  text-decoration-line: none;
  text-transform: capitalize;
  color:#926239;
  border:#926239 solid 1px;
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article-long, .article-short {
  display: block;
  line-height: 22px;
  font-size: 13.3px;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.article-long-article1{
  padding: 15px;
  margin: 0;
  background-color: #926239;
  color: #fff;
}
.article-long-article2{
  padding: 15px;
  margin: 0;
  background-color: #f4f4f4;
  color: #926239;
}
.article-short-article1,.article-short-article2,.article-short-article3{
  margin: 0;
  width: 33.33%;
  display: inline-block;
  box-sizing: border-box;
}
.article-short-article1{
  padding: 15px;
  margin: 0;
  background-color: #926239;
  color: #fff;
}
.article-short-article2{
  padding: 15px;
  margin: 0;
}
.article-short-article3{
  padding: 15px;
  margin: 0;
  background-color: #926239;
  color: #fff;
}
